.div1{
    border:1px solid black;
    background-color: dimgrey;
    height: 20px;
    width: 1343px;
}
.div2{
    float: right;
}
.div4{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div5{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div6{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div7{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 350px;
}
.div8{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div9{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div10{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div11{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 350px;
}

.div12{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}

.div13{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div14{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 350px;
}
.div15{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div16{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div17{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div18{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 350px;
}
.div19{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 325px;
}
.div20{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 450px;

}
.div21{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 440px;
}
.div22{
    display: inline-block;
    border:1px solid black;
    background-color: dimgrey;
    height: 100px;
    width: 440px;
}
.div50{
    border:1px solid black;
    background-color: dimgrey;
    width: 1343px;
}



